:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#initPage {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 5rem;
  color: black;
}

.subTitle {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.subTitle p {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: rgb(92, 92, 92);
}

.subTitle .subTitle-last-p {
  font-size: 1.5rem;
}

.init-button {
  display: block;
  margin: auto;
  padding: 10px;
  min-width: 300px;
  text-align: center;
  background-color: #949494;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 1s ease;
}

/* ボタンの共通スタイル */
.button {
  min-width: 150px;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: #f0f0f0;
  color: rgb(58, 58, 58);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.init-button:hover {
  background-color: #7a7a7a;
}

/* 左右分割レイアウトのスタイル */
.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.split-container {
  display: flex;
  height: calc(100% - 2rem);
}

.split-item {
  flex: 1;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.split-item p {
  text-align: center;
  color: #afafaf;
}

.split-item .file {
  color: black;
  text-align: center;
  font-weight: bold;
}

.split-item button {
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.split-item:nth-last-child(1) {
  border-right: none;
}

.area-title {
  margin: 0;
  height: 2rem;
  margin-left: 20px;
}

.top {
  flex: 4;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 0 0;
  box-sizing: border-box;
}

.bottom {
  flex: 6;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.button-container {
  width: 90%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button-container button {
  width: fit-content;
}

.file-display-area {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50%;
  overflow: scroll;
}

.file-display-area div {
  margin: 10px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.file-display-area div p {
  margin: 10px auto;
}

.how-to-use-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  margin: auto;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #949494;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 1s ease;
}

/* 要素をクリックしたときのアクティブ化スタイル */
.active {
  border: #007bff solid 2px;
  border-radius: 10px;
}

/* モーダルの背景 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* モーダル本体 */
.modal {
  min-height: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
}

.modal-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* タイトル */
.modal h2 {
  margin-top: 0;
}

/* フォーム */
.modal form {
  display: flex;
  flex-direction: column;
}

/* 入力欄 */
.modal input[type="text"],
.modal textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 送信ボタン */
.modal button[type="submit"] {
  padding: 8px 20px;
  background-color: #007bff; /* ボタンの色は適宜変更 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 送信ボタンのホバー時のスタイル */
.modal button[type="submit"]:hover {
  background-color: #0056b3; /* ホバー時の色は適宜変更 */
}

.vcs-content {
  height: 100%;
  position: relative;
}

/* コミットツリー */

.commit-tree {
  height: calc(100% - 5rem);
  overflow: auto;
}

svg {
  overflow: auto;
}

.commit-balloon {
  max-width: 400px;
  max-height: 300px;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 1000;
}

/* ワーキングエリア スタイル */

.file {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  background-color: #f0f0f0;
}

.folder {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffc57f;
}

.level-back-button {
  margin: 20px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
